*{
    margin: 0;
    padding: 0;
}

body{
}

nav{
    background-color: #c2c2c2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 20px;
}

li{
    display: inline;
    margin-left: 30px;
}

a{
    text-decoration: none;
    font-size: 25px;
    color: black;
    padding: 10px 20px;
    transition: .5s;
}

a:hover{
    background-color: orange;
}


.logo{
    height: 100px;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

section h1{
    font-size: 50px;
}


p{
    font-size: 30px;
}


span{
    color: orange;
}

button{
    padding: 10px 20px;
    border: none;
    background-color: orange;
    font-size: 20px;
    font-family: monospace;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s ease;
    color: #fff;
    font-weight: bold;
}

button:hover{
    background-color: rgb(107, 74, 13);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}









